@media (max-width: 768px) {
  .cabecalho {
    min-width: 100%;
  }
  .secaoDetalhesConta {
    margin: 0 auto;
  }
  .secaoDetalhesConta__sobreUsuario__perfil img {
    height: 60px;
  }
  .secaoDetalhesConta__sobreUsuario p {
    font-size: 18px;
    line-height: 1.8rem;
  }
  .secaoDetalhesConta__icones img {
    height: 35px;
  }
  .secaoDetalhesConta__icones img:nth-child(2) {
    margin-left: 16px;
  }
  .secaoDetalhesConta__sobreSaldo p,
.secaoDetalhesConta__sobreSaldo strong {
    font-size: 18px;
  }
  .secaoDetalhesConta__sobreSaldo img {
    height: 22px;
  }
  .secaoDetalhesConta__sobreSaldo button {
    max-height: 55px;
    max-width: 180px;
    border-radius: 15px;
    font-size: 22px;
  }
  .secaoDetalhesConta__opcoesTransacoes {
    max-width: 470px;
  }
  .secaoDetalhesConta__opcoesTransacoes li {
    max-height: 160px;
    max-width: 170px;
  }
  .secaoDetalhesConta__opcoesTransacoes li img {
    max-width: 40px;
  }
  .secaoDetalhesConta__opcoesTransacoes li p {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
  }
  .secaoTransacao {
    justify-content: center;
  }
  .secaoTransacao__avisoSelecao {
    max-width: 440px;
    margin: 0 auto;
  }
  .secaoTransacao__avisoSelecao p {
    text-align: center;
    font-size: 18px;
    padding: 32px;
  }
  .secaoTransacao__avisoSelecao img {
    max-height: 95px;
  }
  .secaoTransacao__qrCode {
    max-width: 400px;
    padding: 0;
    margin: 0 auto;
  }
  .secaoTransacao__qrCode p {
    font-size: 18px;
  }
  .secaoTransacao__qrCode img {
    width: 160px;
    height: 160px;
  }
  .secaoTransacao__qrCode button {
    max-height: 70px;
    max-width: 100%;
  }
  .secaoTransacao__qrCode strong {
    font-size: 18px;
  }
  .secaoTransacao__pix img {
    max-height: 60px;
  }
  .secaoTransacao__pix p {
    font-size: 13px;
    line-height: 20px;
  }
  .secaoTransacao__pix .secaoTransacao__boxOpcao {
    padding: 8px 0;
    min-width: 250px;
  }
  .secaoTransacao__boleto {
    max-width: 425px;
  }
  .secaoTransacao__boleto img {
    height: 90px;
  }
  .secaoTransacao__boleto h2 {
    font-size: 20px;
    margin: 0;
  }
  .secaoTransacao__boleto p {
    font-size: 18px;
    margin: 12px 0;
  }
  .secaoTransacao__boleto input {
    max-height: 55px;
    max-width: 360px;
    margin: 12px 0;
    font-size: 18px;
    padding: 0 10px;
  }
  .secaoTransacao__boleto input::-moz-placeholder {
    font-size: 18px;
    text-align: center;
    padding: 0;
  }
  .secaoTransacao__boleto input:-ms-input-placeholder {
    font-size: 18px;
    text-align: center;
    padding: 0;
  }
  .secaoTransacao__boleto input::placeholder {
    font-size: 18px;
    text-align: center;
    padding: 0;
  }
  .secaoTransacao__cobrar {
    max-width: 425px;
    margin: 0;
  }
  .secaoTransacao__cobrar img {
    height: 80px;
  }
  .secaoTransacao__cobrar h2 {
    font-size: 20px;
    margin: 0;
  }
  .secaoTransacao__cobrar .p {
    font-size: 16px;
    margin: 16px 0;
  }
  .secaoTransacao__cobrar .secaoTransacao__boxOpcao {
    padding: 8px 0 8px 30px;
  }
  .secaoTransacao__cobrar .secaoTransacao__boxOpcao p {
    font-size: 16px;
    line-height: 23px;
    padding-left: 24px;
  }
  .secaoTransacao__cobrar .secaoTransacao__boxOpcao p strong {
    font-size: 18px;
  }
  .rodape__menuPrincipal {
    margin: 0 auto;
    max-width: 30rem;
    justify-content: space-between;
    align-items: center;
  }
  .rodape__menuPrincipal li:nth-child(3) {
    bottom: 15px;
  }
  .rodape__menuPrincipal li:nth-child(3) img {
    min-height: 55px;
    min-width: 55px;
    padding-bottom: 5px;
  }
  .rodape__menuPrincipal li a {
    justify-content: center;
  }
  .rodape__menuPrincipal li a img {
    max-height: 30px;
    max-width: 30px;
  }
  .rodape__menuPrincipal li a p {
    font-size: 16px;
    line-height: 2.5rem;
  }
}
@media (max-width: 570px) {
  .cabecalho .container {
    justify-content: center;
    margin: 5px 0;
  }
  .cabecalho .container img {
    max-width: 150px;
  }
  .secaoDetalhesConta {
    min-width: 320px;
  }
  .secaoTransacao__qrCode {
    margin: 1rem 0;
  }
  .secaoTransacao__qrCode img {
    max-height: 140px;
    max-width: 140px;
  }
  .secaoDetalhesConta__sobreUsuario p {
    padding-left: 6px;
  }
  .secaoDetalhesConta__sobreUsuario .secaoDetalhesConta__icones {
    display: flex;
    align-items: center;
  }
  .secaoDetalhesConta__sobreSaldo button {
    font-size: 18px;
    max-height: 45px;
    max-width: 150px;
  }
  .secaoDetalhesConta__opcoesTransacoes {
    justify-content: center;
  }
  .secaoTransacao__avisoSelecao p {
    padding: 16px;
  }
  .secaoTransacao__boleto p {
    min-width: 100%;
  }
  .secaoTransacao__cobrar .secaoTransacao__boxOpcao {
    padding: 6px 8px;
    min-width: 100%;
  }
  .secaoTransacao__cobrar .secaoTransacao__boxOpcao p {
    padding-left: 16px;
    font-size: 14px;
  }
}/*# sourceMappingURL=media.css.map */